@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/


:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*--------HEADER NAV---------*/

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
}

.header {
    box-shadow:0 3px 5px lightgrey;
}

.nav__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: var(--color-grey);
}

.nav__link:hover{
    color: var(--color-black);
    /*border-bottom: 5px solid#00b3ff;*/
}

.nav {
    display: flex;
}

.nav__section {
    box-sizing: border-box;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 90px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: var(--color-primary)
}


/*--------HEADER NAV---------*/


/*-------HEADER MAIN---------*/
.main {
    width: 100%;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__header {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 49px;

    margin-top: 130px;
    margin-bottom: 20px;
    color: var(--color-black);
}

.main__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-black);

    margin-bottom: 38px;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-white);

    background: var(--color-primary);
    width: 440px;
    height: 67px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.main__img {
    position: center;
    width: 100%;
}


/*-------HEADER MAIN---------*/




/*-----SECTION STATISTICS-----*/


.statisctics__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.statistics__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: var(--color-black);

    margin: 100px 0;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.statistics__box {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.statistics__numb {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--color-black);
    text-align: center;
    letter-spacing: 6px;
    font-size: 20px;
    padding: 20px 0;
}

.statistics__text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: var(--color-grey);



}

.statistics__image__one,
.statistics__image__two,
.statistics__image__three {
    position: absolute;
}

.statistics__image__one {
    width:44px;
    height: 52px;
    left: 30px;
}

.statistics__image__two {
    width: 65px;
    height: 37px;

    bottom: 10px;
    left: 20px;
}

.statistics__image__three {
    width: 52px;
    height: 48px;

    bottom: 5px;
    left: 30px;
}


.statistics__circle__one,
.statistics__circle__two,
.statistics__circle__three {
    width: 63px;
    height: 63px;
    border-radius: 50%;

    position: relative;
}

.statistics__circle__one {
    background: var(--color-redish);

}

.statistics__circle__two {
    background: var(--color-primary);
}

.statistics__circle__three {
    background: var(--color-green);
}


/*-----SECTION STATISTICS-----*/



/*-----SECTION BENEFITS-------*/

.benefits {
    width: 100%;
    background: var(--color-light-grey) ;
    padding-top: 100px;
}

/*.block__one {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    background: var(--color-white);*/
/*    margin-bottom: 37px;*/
/*}*/

/*.block__one__img {*/
/*    width: 387px;*/
/*    height: 212px;*/
/*}*/


/*.block__one__content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 415px;*/
/*    height: 118px;*/

/*    margin: 91px 35px 120px;*/
/*}*/

/*.block__one__title {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 36px;*/
/*    color: var(--color-black);*/

/*    margin-bottom: 30px;*/
/*}*/

/*.block__one__text {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: 400;*/
/*    line-height: 22px;*/
/*}*/

/*.block__one__text::after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 300px;*/
/*    height: 4px;*/
/*    background: var(--color-redish);*/
/*    margin-top: 30px;*/
/*}*/

/*.block__one__img__wrapper {*/
/*    margin-right: 117px;*/
/*    margin-top: 100px;*/

/*}*/

/*.block__one__img__square {*/

/*}*/


.benefits__container {
    max-width: 1150px;
}

.block__one,
.block__two {
    display: flex;
    justify-content: space-between;

    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid #E8E9ED;

    margin-bottom: 37px;
}



.block__one__title,
.block__two__title,
.block__three__title {
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.block__one__text,
.block__two__text,
.block__three__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}

.block__one__content {
    margin: 91px 31px;

    box-sizing: content-box;
    max-width: 415px;
}

.block__two__content {
    margin: 70px 20px;

    box-sizing: content-box;
    max-width: 415px;
}

.block__one__text::after {
    content: "";
    width: 300px;
    height: 4px;
    background: var(--color-redish);
    display: block;
    margin-top: 40px;
}

.block__two__text::after {
    content: "";
    width: 300px;
    height: 4px;
    background: var(--color-primary);
    display: block;
    margin-top: 40px;
}

.block__three__text::after {
    content: "";
    width: 330px;
    height: 4px;
    background: var(--color-green);
    display: block;
    margin-top: 40px;
}


.block__one__img__wrapper {
    box-sizing: content-box;
    display: block;
    margin-top: 113px;
    padding-right: 118px;
    margin-bottom: 38px;
    /*position: relative;*/

}

.block__one__img {
    display: block;
    width: 386px;
    height: 220px;
    position: relative;
}



.block__two__img {
    width: 426px;
    height: 328px;

    margin: 20px 0 13px 70px;
}

.block__three__content {
    background: var(--color-white);
    box-sizing: border-box;
    /*margin-right: 60px;*/

    max-width: 625px;
    padding: 70px 35px;
    margin-right: 60px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;

}

.block__thee__img__wrapper {
    flex-grow: 1;
    background: var(--color-green);
    max-width: 440px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #E8E9ED;

}

.block__three__img {
    width: 295px;
    height: 205px;

    margin-top: 80px;
}
.block__three__plus__img {
    display: flex;
    justify-content: space-between;

    padding-bottom: 105px;
}


/*-----SECTION BENEFITS-------*/

/*----------PRICING-----------*/

.pricing {
    /*height: 800px;*/

}

.pricing__content{
    display: flex;
    justify-content: center;
}
.pricing__title {
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;

    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.pricing__block__one,
.pricing__block__two,
.pricing__block__three {
    box-sizing: border-box;
    margin: 0;

    border-radius: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pricing__block__one {
    border: 1px solid var(--color-redish);
}

.pricing__block__two {
    border: 1px solid var(--color-primary);
}

.pricing__block__three {
    border: 1px solid var(--color-green);
}

.pricing__block__one__title,
.pricing__block__two__title,
.pricing__block__three__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 34px 160px 14px 160px;
}

.pricing__block__one__price,
.pricing__block__two__price,
.pricing__block__three__price {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: lighter;

    margin-bottom: 15px;
}

.prices__block__two__offer,
.prices__block__three__offer {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;

    margin-bottom: 50px;

}

.pricing__block__one__price {
    margin-bottom: 70px;
}

.pricing__block__one__price {
    color: var(--color-redish);
}

.pricing__block__two__price {
    color:var(--color-primary);
}

.pricing__block__three__price {
    color:var(--color-green);
}

.pricing__block__one__details__points,
.pricing__block__two__details__points,
.pricing__block__three__details__points {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing__block__one__details__points:last-child,
.pricing__block__two__details__points:last-child,
.pricing__block__three__details__points:last-child {
    margin-bottom: 80px;
}

.pricing__block__one__details__points::before,
.pricing__block__two__details__points::before,
.pricing__block__three__details__points::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1-point.svg");
}

.not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

.pricing__block__one__but,
.pricing__block__two__but,
.pricing__block__three__but {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 23px;
}

.pricing__block__one__but {
    background: var(--color-redish);
}

.pricing__block__two__but {
    background: var(--color-primary);
}

.pricing__block__three__but {
    background: var(--color-green);
}

.but {
    position: relative;
    bottom: -25px;
}

.pricing__block__one__but {
    bottom: -30px;
}
.pricing__block__two {
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

/*---------second box -----------*/
/*---------second box -----------*/

/*----------PRICING-----------*/


/*----------CONTACT-----------*/

.contact {
    margin: 165px auto;
    height: 800px;
}

.contact {
    display: flex;
    justify-content: center;
}

.checkbox__wrapper {
    max-width: 405px;
}

.contact__title {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    margin-right: 115px;
    margin-bottom: 22px;
}

.contact__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 42px;
}

.contact__mail,
.contact__phone {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-grey);
    margin: 0 20px 210px 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.form__label__name,
.form__label__mail {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color-primary);
}

.form__label__name {
    margin-bottom: 30px;
}

.form__label__mail {
    margin: 30px 0;
}

.input__name,
.input__mail {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 30px;
}

.checkbox__label {
    display: flex;
    font-size: 12px;
    color: var(--color-grey);
    line-height: 17px;
    font-family: 'Open Sans', sans-serif;
}

.custom__checkbox {
    margin-right: 10px;
}


.custom__checkbox {
    display: none;
    width: 0;
    height: 0;
}

.checkbox__fake {
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    margin-right: 10px;
}

.custom__checkbox:checked + .checkbox__fake {
    background: url("../assets/Checkmark.svg") no-repeat;
    background-position: center;
}

